<<<<<<< HEAD


.headerContent {
    $primary-color: #FF4D21;
    border: 3em;
    position: left;
=======
.headerContent,.floatingAction  {
    background-color: #FF4D21;
    border: 1px solid black;
    border-radius: 100px;
>>>>>>> Authentification/connexion
}

