.email, .pseudo, .email, .connexion {
    width: 100;
    padding: 10px;
    background-color: #C0ED83;
    box-sizing: border-box;
}

.submit {
    width: 100;
    padding: 10px;
    background-color: #FF4D21;
    box-sizing: border-box; 
}

.auth.js {
    width: 100;
    padding: 10px;
    background-color: #FF4D21, 60%;
    box-sizing: border-box; 
}